/* ================================
        Header css
================================ */
header {
  display: grid;
  grid-template-columns: 10px auto 10px;
  grid-template-areas: ". header .";
  background-color: orange;
  text-align:center;

  > div {
    grid-area: header;
  }
}
