/* ================================
        Section 5
================================ */
#section-5 {
  display: grid;
  grid-template-areas: ". section-5 .";
  background-color: blue;
  text-align: center;

  > div {
    grid-area: _section-5;
  }
}
