/* ================================
        Section 2
================================ */
#section-3 {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: ". section-3 .";
  text-align: center;

  > div {
    grid-area: _section-3;
  }
}
