/* ================================
        Section 1
================================ */
#_section1 {
  display: grid;
  grid-template-columns: -20px auto;
  grid-template-areas: ". _section1 .";
  text-align: center;

  > div {
    grid-area: section1;
  }
}
