/* ================================
        Section 4
================================ */
#section-4 {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: ". section-4 .";
  background-color: silver;
  text-align: center;

  > div {
    grid-area: _section-4;
  }
}
